<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to 'BaseRailsApp', root_path, class:"btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <% if user_signed_in? && user_profile_completed?(current_user) %>
      <label for="my-drawer" class="drawer-button">
        <div tabindex="0" role="button" class="cursor-pointer">
          <%= render 'components/user/avatar_thumb', user: current_user, width_class: 'w-10' %>
        </div>
      </label>
    <% else %>
    <!-- Theme Toggle + Locale Selector -->
      <div class="flex items-center gap-3">
        <select class="select select-ghost">
          <% I18n.available_locales.each do |loc| %>
            <%= link_to current_path_with_locale(loc) do %>
              <option value="<%= loc %>" <%= 'selected' if I18n.locale == loc %>><%= loc.to_s.upcase %></option>
            <% end %>
          <% end %>
        </select>
        <div data-controller="theme">
          <div class="flex items-center gap-2 min-w-[120px]">
            <span class="text-sm"><%= t('.dark_mode') %></span>
            <label class="toggle text-base-content">
              <input type="checkbox" class="theme-controller" data-theme-target="toggle" data-action="change->theme#toggle" />
              <svg aria-label="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path d="m19.07 4.93-1.41 1.41"></path></g></svg>
              <svg aria-label="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></g></svg>
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
